body,
header,
footer,
.contentContainer,
.groundSelector,
h1,
h2,
footer p,
.contentContainer section {
  width: 100%;
}
body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
}

header,
footer,
.contentContainer,
.groundSelector,
.contentContainer section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
header {
  height: 6rem;
  background-color: var(--brand-color);
  align-items: center;
  margin-bottom: 2rem;
}
footer {
  height: 3rem;
  background-color: var(--brand-color);
  align-items: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 0%;
}
h1,
h2,
h3,
.groundSelector a {
  text-align: center;
}
h1,
h2,
h3 {
  color: var(--title-color);
}
h1 {
  font-size: 4.5rem;
  color: white;
}
.contentContainer {
  align-items: flex-start;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.groundSelector {
  align-items: flex-start;
  max-width: 900px;
}
.groundSelector a,
button {
  width: 14rem;
  height: 3rem;
  transition: width 0.5s, background-color 0.5s, color 0.5s;
  padding: 1rem 0;
  margin: 1rem 0;
  color: white;
}
.groundSelector a:hover,
button:hover {
  width: 20rem;
  cursor: pointer;
}
.groundSelector a {
  background-color: var(--title-color);
  text-decoration: none;
}

.groundSelector a:active {
  background-color: white;
  color: var(--font-color);
}

.localisationContainer {
  margin: 2rem 0 1rem 0;
}
footer p {
  color: white;
  text-align: left;
  padding: 0 2rem;
}
.contentContainer section {
  align-items: flex-start;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
p {
  text-align: justify;
  padding: 0.25rem 1rem;
  color: var(--font-color);
}
p span {
  font-size: 2.5rem;
  color: var(--brand-color);
}
button {
  border: none;
  background-color: var(--brand-color);
}
